.me{
    width: 100%;
    height: 93.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    margin-top: 35px;
    border-radius: 5px;
    margin: auto;
    color: black;
    width: 65%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    background: rgba(255,255,255,0.9);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
}
.user-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.title{
    font-size: 20px;
}
.info{
    color: black;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
}
.favorited-pokemons{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    
}
.background h2{
    color: rgb(150, 127, 0);
}
.card-pokemon{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 235px;
    height: 255px;
    text-align: center;
    background-color: rgba(255,255,255, 0.1); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
}

.title{
    font-size: 20px;
    font-weight: bold;
}
.title span{
    font-size: 15px;
}
.img{
    position: relative;
    width: 95px;
}
