<div class="requesting-bg" *ngIf="loading">
    <div class="requesting"></div>
</div>

<div class="header">
    <span class="quantity">
       Number of pokemons listed: {{pokemons.length}}
    </span>
    <div class="quantity">Number of Pokemons <input class="find" type="number" (blur)="handleblur()"  [(ngModel)]="numberOfPokemons"/></div>
    <input class="find" type="text" placeholder="Find one pokemon..." (input)="pokeFilter()" [(ngModel)]="filter"/>
</div>
<ul class="list-pokemons">
    <li class="item-pokemon" *ngFor="let pokemon of pokemons" >
        <p class="favorite" [innerHTML]="handlePokemon(pokemon)" (click)="favoritePokemon(pokemon)"></p>
        <img [src]="pokemon.sprites?.front_default"/>
        <h2 class="link-pokemon" (click)="pokemonDetailsHandler(pokemon)">{{pokemon.name}}</h2>
    </li>
</ul>
