<app-pokemon-details *ngIf="showDetailPokemon" [pokemon]="selectedPokemon" (onClose)="onClose()"></app-pokemon-details>

<div class="header">
    <span class="quantidade">
       Quantidade de pokemons listados: {{pokemonsDetail.length}}
    </span>
    <input class="pesquisar" type="text" placeholder="Pesquisar um pokemon..." (input)="pokeFilter()" [(ngModel)]="filter"/>
</div>

<ul>
    <li *ngFor="let pokemon of pokemonsDetail" (click)="mostrarDetalhes(pokemon)">
        <img [src]="pokemon.sprites.front_default"/>
        <h2>{{pokemon.name}}</h2>
    </li>
</ul>

