    <div class="modal-content">
        <div class="actions">
            <a class="back" routerLink="/pokemons">&#8592;</a>
        </div>
        <div class="content">
            <img class="img" [src]="pokemon.sprites?.other?.dream_world?.front_default">
            <h2>Name: {{pokemon.name}}</h2>
            <label class="title" >Weight: {{pokemon.weight}}</label>
            <label class="title">Height: {{pokemon.height}}</label>
            <label class="title">Types: <span *ngFor="let type of pokemon.types" > | {{type.type.name}} | </span></label>
            <label class="title">Abilities: <span *ngFor="let ability of pokemon.abilities" > | {{ability.ability.name}} | </span></label>
        </div>
