.modal-content{
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: center;
    background-color: rgb(255, 255, 255); /* Black w/opacity/see-through */
    color: black;
    text-align: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.actions{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    margin: 0;
    height: 65px;
}
.back{
    background-color: transparent;
    text-decoration: none;
    color: rgb(32, 0, 119);
    border-radius: 45px;
    font-size: 40px;
    transition: .5s;
    font-weight: bold;
}
.back:hover{
    transform: scale(110%);
    background-color: rgba(0, 0, 0, 0.404);
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}
.title span{
    font-size: 20px;
}
.img{
    position: relative;
    width: 35%;
}